* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 26%;
    height: 350px;
    margin-left: 37%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(240, 240, 240);
}

.heading {
    width: 100%;
    height: 45px;
}
.heading h3 {
    padding: 5%;
    color: rgb(0, 59, 93);
    text-align: center;
}
.heading hr {
    background-color: gray;
    width: 50%;
    margin: 0 auto;
}

.mainbody {
    width: 82%;
    margin-left: 9%;
    margin-top: 40px;
}
.mainbody input {
    width: 96%;
    height: 42px;
    margin-bottom: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 10px;
}
input:focus{
    outline: none;
}
.mainbody button {
    width: 100%;
    height: 42px;
    background-color: rgb(0, 59, 93);
    border: none;
    font-size: 15px;
    color: rgb(255, 204, 0);
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 15px;
}
.mainbody h5 {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}
.mainbody a {
    text-decoration: none;
    color: rgb(0, 59, 93);
}
.mainbody a:hover {
    color: black;
}

.signup {
    width: 82%;
    margin-left: 9%;
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
.signup a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 59, 93);
}
.signup a:hover {
    color: black;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 50%;
        height: 400px;
        margin: 80px 25%;
    }
    .mainbody {
        margin-top: 50px;
    }
    .mainbody input {
        margin-bottom: 20px;
    }
    .mainbody button {
        margin-bottom: 20px;
    }
    .signup {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .container {
        width: 100%;
        margin: 136px 0;
    }
    .footer {
        display: none;
    }
}